*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height:100vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    
}

.slide > img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    color:rgba(0, 0, 0, 0.7);
    cursor: pointer;
    padding: 0 .5rem;
}

.carousel-button:hover, .carousel-button:focus {
    color: black;
    
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}
